/*全体設定*/
@charset "UTF-8";

@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
    transform: translateX(50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0);
  }
}
/*ヘッダー部分のプロバティ*/

/*コンテンツ１のプロバティ*/
.contents1-container{
  width:flex;
  text-align: center;
  margin-top:50px;
  padding-left:70px;
  padding-right:70px;
}

.con1-p{
  font-family:monospace;
  font-size: 20px;
}

.con1-title{
  color:#444;
  font-size: 30px;
  display:flex;
  align-items: center;
}


.con1-title:before,.con1-title:after{
  content:"";
  flex-grow: 1;
  height:3px;
  background:#444;
  display:block;
  
}

.con1-title:before{
margin-right: .4em;
}

.con1-title:after{
margin-left: .4em;
}

.viewmore{
  position:relative;
  font-size:26px;
  display:inline-block;
  padding:1px 30px;
  background: black;
  color:white;
  text-decoration: none;
  border:2px solid black;
  border-radius: 15px;
  margin-bottom:50px;
}

.viewmore::before{
  position: absolute;
  top: 0;
  left: 0;
  content: 'VIEW MORE';
  width: 100%;
  height: 100%;
  background: white;
  color:black;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.viewmore:hover::before {
  height: 0;
}

.photo-wrap{
  height:700px;
  padding-left:70px;
  padding-right:70px;
}



.main-photo{
  position:absolute;
  display:inline;
  animation-duration: 0.7s;
  animation-name: RightToLeft;
}

.sub1 {
  position:relative;
  top:0px;
  left:62%;
  display:inline;
  animation-duration: 1s;
  animation-name: RightToLeft;
}

.sub2 {
  position:relative;
  top:100px;
  left:63.5%;
  display:inline;
  animation-duration: 1s;
  animation-name: RightToLeft;
}

.sub3 {
  position:relative;
  top:200px;
  left:24.9%;
  display:inline;
  animation-duration: 1.2s;
  animation-name: RightToLeft;
}

.sub4 {
  position:relative;
  top:300px;
  left:26.5%;
  display:inline;
  animation-duration: 1.4s;
  animation-name: RightToLeft;
}

/*スクロール画像部分のプロバティ*/

/*コンテンツ２のプロバティ*/
.contents2{
  text-align: center;
}

.introduction {
    width:100vw;
    height:100vh;
    max-width: 960px;
    max-height: 480px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.explain{
  grid-column: 1 / 2 ;
  grid-row: 1 / 3;
}

.pickles_logo{
    display: block;
    grid-column: 1 / 2 ;
    grid-row: 3 / 6;
    margin:auto;
    width: 60%;
}
.ren{
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
}

.ren_logo{
    grid-column: 3 / 4 ;
    grid-row: 1 / 2;
    width: 75%;
}

.tamio{
    grid-column: 2 / 3 ;
    grid-row: 2 / 3;
}

.tamio_logo{
    grid-column: 3 / 4 ;
    grid-row: 2 / 3;
    width: 75%;
    margin:auto 8%;
}

.morijun{
    grid-column: 2 / 3 ;
    grid-row: 3 / 4;
}

.morijun_logo{
    grid-column: 3 / 4 ;
    grid-row: 3 / 4;
    width: 75%;
    margin:auto 16%;
}

.sho-ti{
    grid-column: 2 / 3 ;
    grid-row: 4 / 5;
}

.sho-ti_logo{
    grid-column: 3 / 4 ;
    grid-row: 4 / 5;
    width: 75%;
    margin:auto 24%;
}

.SO{
    grid-column: 2 / 3 ;
    grid-row: 5 / 6;
}

.SO_logo{
    grid-column: 3 / 4 ;
    grid-row: 5 / 6;
    width: 75%;
    margin:auto 32%;
}

.name{
    font-size: 3rem;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.animationleft{
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    float: left;
}

.animationleft.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.animationright{
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    float: right;
}

.animationright.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/*コンテンツ３のプロバティ*/

/*コンテンツ４のプロバティ*/

/*フッター部分のプロバティ*/
